.card: {
  display: flex;
},
.details: {
  display: flex;
  flex-direction: column;
},
.content: {
  flex: 1 0 auto;
},
card: {
  minWidth: 275,
  position: 'relative',
},
bullet: {
  display: 'inline-block',
  margin: '0 2px',
  transform: 'scale(0.8)',
},
title: {
  font-size: 14,
},
pos: {
  marginBottom: 12,
},
media: {
    height: 0,
    paddingTop: '56.25%' // 16:9
 },
overlay: {
    position: 'absolute',
    top: '20px',
    left: '20px',
    color: 'black',

 }
